
body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #C7E8FF;
}

.btn-group .button {
  background-color: #61A0CC;
  border: 1px solid #3D6480;
  color: white;
  padding: 15px 280px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
	margin: 4px 10px;
  cursor: pointer;
  border-radius: 4px;
}
.jumbotron {
  color: black;
  background-color: white;
