html, body {
  height: 100%;
  width: 100%;
}


[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {

  float: right;
}


img, svg {
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  height: 75px;
  width: 200px;
}
