include ../partials/header.pug
include ../partials/nav.pug
main.page.testimonials
br
br

br
.row
  .col-lg-6.mb-4
    .card.shadow.mb-4
      .card-header.py-3
        h6.text-primary.font-weight-bold.m-0 Submit Date, Time, and Location if you can&apos;t find any on the right
      ul.list-group.list-group-flush
        li.list-group-item
          .row.align-items-center.no-gutters
            .col.mr-2
              // html
              form
                | Pick a date and time:
                input(type='datetime-local' name='datetime')
                // <input type="submit" value="Send">
              br
              // Bootstrap
              .form-group
                label(for='usr') Enter Location:
                input#usr.form-control(type='text')
              // <button type="button" class="btn btn-primary">Submit</button>
              input.btn.btn-info(type='submit' value='Submit Button')
              .col-auto
                // <button type="button" class="btn btn-primary">Primary</button>
  .col
    .card.shadow.mb-4
      .card-header.py-3
        h6.text-primary.font-weight-bold.m-0 Matches Board
      ul.list-group.list-group-flush
        li.list-group-item
          .row.align-items-center.no-gutters
            .col.mr-2
              h6.mb-0(name='teamname')
                strong Gamer
              span.text-xs(name='time') 10:30 AM
              span.text-xs  -
              span.text-xs(name='date') 10/12/19
              span.text-xs  -
              span.text-xs(name='Location') Boulder
            .col-auto
              button.btn.btn-primary(type='button') Invite
        li.list-group-item
          .row.align-items-center.no-gutters
            .col.mr-2
              h6.mb-0
                strong Zelda
              span.text-xs(name='time') 10:30 AM
              span.text-xs  -
              span.text-xs(name='date') 10/12/19
              span.text-xs  -
              span.text-xs(name='Location') Denver
            .col-auto
              button.btn.btn-primary(type='button') Invite
        li.list-group-item
          .row.align-items-center.no-gutters
            .col.mr-2
              h6.mb-0
                strong Pokemon
              span.text-xs(name='time') 10:30 AM
              span.text-xs  -
              span.text-xs(name='date') 10/12/19
              span.text-xs  -
              span.text-xs(name='Location') Greeley
            .col-auto
              button.btn.btn-primary(type='button') Invite
