doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  title Player Page
  link(rel='icon' href='../img/UmbrellaLogo.png')
  link(rel='stylesheet' href='../css/bootstrap.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' integrity='sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' href='../css/PlayerPage.css')
main.player.page
  nav#navbar.navbar.navbar-light.navbar-expand-lg.fixed-top.bg-white.clean-navbar
    .container
      img(src='../img/UmbrellaLogo1.png' style='width:200px; height:70px;')
      button.navbar-toggler(data-toggle='collapse' data-target='#navcol-1')
        span.sr-only Toggle navigation
        span.navbar-toggler-icon
      #navcol-1.collapse.navbar-collapse
        ul.nav.navbar-nav.ml-auto
          li.nav-item(role='presentation')
            a.nav-link(href='PlayerPage.html') Home
          li.nav-item(role='presentation')
            a.nav-link(href='teampage.html') Team Page
          li.nav-item(role='presentation')
            a.nav-link(href='bracketpage.html') Stats
  br
  br(style='padding-top: 10')
  br
  .container(style='background-color: lightblue; border-radius: 10px; margin-top: 60px; overflow-x:auto;')
    img#playerimage(src='../img/defaultplayer.png' alt='Avatar' style='margin-left: 0; overflow-x:auto')
    h4
      b  Default Player Profile
    p TEAM NAME
  .container(style=' border-radius: 10px; background-color: lightblue; overflow-x:auto; padding-left: 0%; margin-top: 30px; padding-top: 7px;')
    h3(style='padding-left: 18px') STATS
    table
      tr
        th(style='padding-left: 10%;')
          u  GAME
        th(style='padding-left: 60%;')
          u  TEAM
        th(style='padding-left: 110%;')
          u  HOME
        th(style='padding-left: 170%;')
          u OPPOSITION
      tr
        td(style='padding-left: 10%;')  Default
        td(style='padding-left: 60%;')  Player
        td(style='padding-left: 110%;')  TBD
        td(style='padding-left: 170%;') TBD
      tr
        td(style='padding-left: 10%;')  Default
        td(style='padding-left: 60%;')  Player
        td(style='padding-left: 110%;')  TBD
        td(style='padding-left: 170%;') TBD
      tr
        td(style='padding-left: 10%;')  Default
        td(style='padding-left: 60%;')  Player
        td(style='padding-left: 110%;')  TBD
        td(style='padding-left: 170%;') TBD
      tr
        td(style='padding-left: 10%;')  Default
        td(style='padding-left: 60%;')  Player
        td(style='padding-left: 110%;')  TBD
        td(style='padding-left: 170%;') TBD
script(src='assets/bootstrap/js/bootstrap.min.js')
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous')
