include ../partials/header.pug

img.img-fluid(src='../img/UmbrellaLogo1.png' alt='Registration')
br
br
body
// Buttons to select if coach or player
.btn-group
  button.btn.btn-secondary.buttonC(value='C' onload="viewForm('coach_form', 1); viewForm('player_form', 0)" onclick="viewForm('coach_form', 1); viewForm('player_form', 0)") Coach
  button.btn.btn-primary.buttonP(value='P' onclick="viewForm('player_form', 1); viewForm('coach_form', 0); loadTeams()") Player
// Player Form
#player_form.container
  form(action='./sign_up_p', method='post' )
    .form-group.row
      label.col-sm-2.col-form-label(for='player_fullName') Full Name
      .col-sm-10
        input#player_fullName.form-control(type='text' name='player_fullName' placeholder='Enter Name')
    .form-group.row
      label.col-sm-2.col-form-label(for='player_userName') Username
      .col-sm-10
        input#player_userName.form-control(type='text' name='player_userName' placeholder='Enter Username')
    .form-group.row
      label.col-sm-2.col-form-label(for='player_emailAddress') Email address
      .col-sm-10
        input#player_emailAddress.form-control(type='email' name='player_emailAddress' placeholder='Enter email')
    .form-group.row
      label.col-sm-2.col-form-label(for='player_phoneNumber') Phone number
      .col-sm-10
        input#player_phoneNumber.form-control(type='text' name='player_phoneNumber' placeholder='Enter phone number')
    .form-group.row
      label.col-sm-2.col-form-label(for='player_passwordFirst') Password
      .col-sm-10
        input#player_passwordFirst.form-control(type='password' name='player_passwordFirst' placeholder='Password' onkeyup='PasswordCheck()')
    .form-group.row
      label.col-sm-2.col-form-label(for='player_passwordConfirm') Confirm Password
      .col-sm-10
        input#player_passwordConfirm.form-control(type='password' name='player_passwordConfirm' placeholder='Confirm Password' )

    .form-group.row
      label(for="selTeam")="Select Team"
      select.form-control(id="selTeam" , name='team')
        if(Data)
          for item in Data
            option(value=item.Team_Id)=item.TeamName
    .form-group.row
      button#my_submit_button.btn.btn-primary.btn-block.login-btn(disabled='' onclick='onClickFunction()') Submit
  br
// Coach Form
#coach_form.container
  form(action='/sign_up_c',method='post')
    .form-group.row
      label.col-sm-2.col-form-label(for='coach_fullName') Full Name
      .col-sm-10
        input#coach_fullName.form-control(type='text' name='coach_fullName' placeholder='Enter Name')
    .form-group.row
      label.col-sm-2.col-form-label(for='coach_userName') Username
      .col-sm-10
        input#coach_userName.form-control(type='text' name='coach_userName' placeholder='Enter Username')
    .form-group.row
      label.col-sm-2.col-form-label(for='coach_emailAddress') Email address
      .col-sm-10
        input#coach_emailAddress.form-control(type='email' name='coach_emailAddress' placeholder='Enter email')
    .form-group.row
      label.col-sm-2.col-form-label(for='coach_phoneNumber') Phone number
      .col-sm-10
        input#coach_phoneNumber.form-control(type='text' name='coach_phoneNumber' placeholder='Enter phone number')
    .form-group.row
      label.col-sm-2.col-form-label(for='coach_passwordFirst') Password
      .col-sm-10
        input#coach_passwordFirst.form-control(type='password' name='coach_passwordFirst' placeholder='Password' onkeyup='PasswordCheck()')
    .form-group.row
      label.col-sm-2.col-form-label(for='coach_passwordConfirm') Confirm Password
      .col-sm-10
        input#coach_passwordConfirm.form-control(type='password' name='coach_passwordConfirm' placeholder='Confirm Password' )
    .form-group.row
      label.col-sm-2.col-form-label(for='coach_createTeam') Create a Team
      .col-sm-10
        input#coach_createTeam.form-control(type='new_team_name' name='coach_createTeam' placeholder='Enter Team Name')
    .form-group.row
      button#my_submit_button2.btn.btn-primary.btn-block.login-btn(disabled='' onclick='onClickFunction()') Submit
