include ../partials/header.pug
#outer.container-fluid
    #inner
        .jumbotron
            form(action="/login") 
                div.form-group
                    h3.text-center Success! 
                    h6.text-center Account Created! Now go back to the login page.
                .form-group.row
                    .col-sm-3
                    .col-sm-1
                        button.btn.btn-primary(type="submit") Login Page
                    
                    